<?xml version="1.0" encoding="UTF-8" ?>
<suite name="用户管理系统测试套件" parallel="methods" thread-count="1" >
    <test name="用户管理系统测试用例">
        <classes>
            <class name="com.litl.www.testcase.LoginCase">
            </class>
            <!--<class name="com.litl.www.testcase.RefundAduitingCase">-->
            <!--</class>-->
        </classes>
    </test>

    <listeners>
        <listener class-name="com.litl.www.util.TestngListener"/>
    </listeners>
</suite>